.screen {
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
}

.check {
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border: 1px solid black;
    padding: 20px;
    position: relative;
}

.check__input1 {
    width: 900px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.check__input1 label {
    display: flex;
    align-items: center;
}

.check__input1 label span {
    margin-right: 5px;
}

.check__btn{
    position: absolute;
    right: 30px;
    bottom: 10px;
}

.table {
    width: 900px;
    display: flex;
    padding: 20px;
    position: relative;
}



td,
th {
    padding: 5px 35px;
    text-align: start;
}

.ch {
    text-align: center;
}

.buttons{
    display: flex;
    justify-content: space-evenly;
    width: 150px;
    position: absolute;
    bottom: 5px;
    right:99px;

}